@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import './reset.scss';
@import './mixin.scss';
@import './vars.scss';
@import './typography.scss';

body {
    font-family: 'Manrope', sans-serif;
    color: getColor('text');
}

button {
    background: none;
    border: none;
    padding: 0;
}
