@for $j from 0 through 12 {
    .sb-gap-#{$j} {
        gap: calc(4px * $j);
    }
}

.sb-flex {
    display: flex;
}

.sb-flex-col {
    display: flex;
    flex-direction: column;
}

.sb-items-center {
    align-items: center;
}

.sb-justify-center {
    justify-content: center;
}

.sb-justify-end {
    justify-content: end;
}
