:root {
  --fg-base-01: 255, 255, 255;
  --fg-base-02: 244, 247, 248;
  --fg-base-03: 238, 242, 245;
  --fg-base-04: 231, 239, 245;
  --fg-base-05: 194, 208, 219;
  --fg-base-06: 147, 166, 181;
  --fg-base-07: 85, 108, 125;
}

:root {
  --fg-primary: 26, 92, 255;
  --fg-success: 80, 200, 120;
  --fg-danger: 239, 78, 78;
  --fg-warn: 255, 186, 0;
}
